.menu {
    margin-left: 50px;
}
.create-article{
    margin-left: 10%;
    background-color: #58BE2F;
    border-radius: 30px;
    border: 0px solid black;
    font-weight: 500;
    color: white;
}
.profile{
    margin-left: 20%;
}

mat-toolbar{
    padding: 0px 10%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #404040;
}
.avatar{
    margin-left: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}