<mat-card class="article-card">
    <mat-card-header>
      <mat-card-subtitle>
        <span class="article-card-community-name"> {{ article.community }}</span>
        <span class="article-card-author">{{ article.author }}</span>
        <span class="article-card-date">Дата: {{ article.date | date: 'dd.MM.yyyy' }}</span>
        <span class="article-card-rating" align="right"> - {{ article.rating }} + </span>
      </mat-card-subtitle>
      <mat-card-title class="article-card-title">{{ article.title }}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p class="article-card-content">
        {{ article.content }}
      </p>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>