
<form action="handler.php">
<div class="article-create-form">
    <mat-form-field>
      <input type="text" matInput placeholder=title [(ngModel)]="title" name="title" placeholder="name"/>
    </mat-form-field>
  
    <mat-form-field>
      <textarea [(ngModel)]="body" name="body" matInput placeholder="Textarea"></textarea>
    </mat-form-field>
  
    <mat-form-field>
      <mat-select [(ngModel)]="community" name="community" placeholder="Самодеятельность">
        <mat-option  value="Молодая гвардия">Молодая гвардия</mat-option>
        <mat-option value="ЛизаАлерт">ЛизаАлерт</mat-option>
        <mat-option value="Самодеятельность">Самодеятельность</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <button mat-button color="accent">Жмяк</button>
  </form>
  <div class = preview>
    <h1>Предпросмотр</h1>
    <div>
      {{ title }} 
    </div><p>Дата: {{ article.date | date: 'dd.MM.yyyy'}}</p></div>
    <div>{{ body }}<br> Сообщество:{{ community }}
    
  </div>
