
<form action="handler.php">
<div class="article-create-form">
  <form name="create-article" class="create-article">
    <p class="form-label">Публикация истории <button type="submit" class="article-send"> Опубликовать </button></p><br>
    <select name="article-community" class="article-community">
      <option value="Самодеятельность">Самодеятельность</option>
      <option value="Волонтеры-медики">Волонтеры-медики</option>
      <option value="LizaAlert">LizaAlert</option>
    </select>
    <input name="article-title" type="text" class="article-title" value="Название истории">
    <textarea name="article-content" type="text" class="article-content">Просто начните писать...</textarea>
  </form>
</div>
